# BC App details

# Mongodb DB info.
MONGO_DB_CLIENT_URL=mongodb://recs_onprem_user:add4567@172.16.1.167:27018/recs_onprem?authSource=admin
WEBHOOK_EVENT_REGISTER_COLLECTION=iaccs_webhook_event_register

GCP_FIN_COMPLIANCE_COLLECTION=iaccs_gcp_fin_compliance_details

# Log details
LOG_FILE_NAME=shift_left_logs.log

#DB details
RESOURCE_DB_HOST=172.16.1.146
RESOURCE_DB_PORT=5433
RESOURCE_USER=recs_onprem_user
RESOURCE_PASSWORD=add4567
RESOURCE_DATABASE=recs_onprem
ISTIO_PREFIX=sl

# Scos api details

SCOS_URL=https://appqa.banyancloud.io:31432/scos

# ENCS apis

BC_ENCS_URL=https://appqa.banyancloud.io:31432/bcencs

# status codes and Messages for Logger file with string values
SELECT_RESPONSE_MESSAGE="Data fetched successfully"
SELECT_NO_DATA_MESSAGE="No data found"
UPDATE_RESPONSE_MESSAGE="Data updated successfully"
DELETE_RESPONSE_MESSAGE="Data deleted successfully"

#CORS
CORS_ORIGIN_IP_LIST=https://appqa.banyancloud.io:31432,http://172.16.1.*

#AUTH
jwks_kids_get_api=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_gO1tb9308/.well-known/jwks.json
BC_AUTH_URL=https://appqa.banyancloud.io:31432/bcauth

# SVPS apis

CT_ENCS=/api/v1/cta-info

# Test IP Range
TEST_IP_RANGE=10.0.0.0/24
PROFILE_NAME=bccollector
REGION=us-east-2# RECS On-Premise external compliance-manager tool
RECS_TOOL_BASE_URL=http://172.16.1.212:18180/
RECS_TOOL_TOKEN=<REPLACE_WITH_YOUR_JWT_TOKEN>

# ↑ Update this token when it expires (get fresh one from browser DevTools → Network → Authorization header)
RECS_MONGO_DB_NAME=recs_onprem
RECS_MONGO_DB_URL=mongodb://recs_onprem_user:add4567@172.16.1.167:27018/recs_onprem?authSource=admin
RECS_CUSTOMER_NAME=Banyan Cloud
